/* @media (max-width: 767px) is the breakpoinr for mobile */
/* if want to change the value: must change everywhere in this file and menu-mobile.css! */

@font-face {
    font-display: fallback;
    font-family: "Montserrat";
    src: url("Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-display: fallback;
    font-family: "Luciole";
    src: url("Luciole-Regular.ttf");
}

@font-face {
    font-display: fallback;
    font-family: FuturaRennerLight;
    src: url("FuturaRenner-Light.otf");
}

@font-face {
    font-display: fallback;
    font-family: FuturaRennerRegular;
    src: url("FuturaRenner-Regular.otf");
}


@font-face {
    font-display: block;
    font-family: Roboto;
    src: url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
}

@font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 600;
    src: url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
}

@font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 700;
    src: url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
}




:root {

    /* couleurs de la charte graphique */
    --color-dark-blue-charter: #283774;
    --color-medium-blue-charter: #60a1d6;
    --color-light-blue-charter: #b7e3de;
    --color-green-charter: #1daf7c;
    --color-dark-yellow-charter: #faee65;

    /* couleurs ancien site */
    /* vert logo foncé */
    --color-green: #00B66A;
    /* vert pâle site plantes illustration */
    --color-light-green: #BDE5C0;
    /* jaune pâle background site */
    --color-light-yellow: #FFFDDA;
    /* jaune foncé plantes site */
    --color-dark-yellow: #F6EB6C;
    /* bleu clair plantes site  */
    --color-light-blue: #74A2D3;
    /* bleu foncé plantes site */
    --color-dark-blue: #2D3D71;

    /* my own color. Softer than light yellow */
    --color-pale-yellow: #FAF8E6;
    --color-pale-green: #d7e7d8;

    --color-background: white;
    --color-link-highlight: var(--color-green);
    --text-color: black;
    --text-color-lighter: #666;
    --hero-text-color: white;

    --text-shadow-black: 2px 2px 3px rgba(10, 10, 10, 0.7),
        -2px -2px 5px rgba(10, 10, 10, 0.7),
        2px -2px 15px rgba(10, 10, 10, 0.2);

    --text-shadow-white: 2px 2px 3px rgba(255, 255, 255, 0.7),
        -2px -2px 5px rgba(255, 255, 255, 0.7),
        2px -2px 15px rgba(236, 236, 236, 0.2);

    --color-button: var(--text-color);
    --color-button-background: var(--color-background);
    --color-button-don: #f00000;

    --fs-small: 0.7rem;
    --fs-normal: 1rem;
    --fs-big: 1.2rem;
    --fs-bigger: 1.4rem;
    --fs-l: 1.6rem;
    --fs-xl: 2rem;
    --fs-xxl: 3.75rem;

    /* Assume base font-size is 16px */
    /* Do not  hardcode it to 16px to allow user agent to change it
    (accessibility)*/
    font-size: var(--fs-normal);
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);

    background-color: var(--color-background);

    --menu-height: 4rem;

    --hero-height: 66vh;

}


/* color tests */
.design-tests {
    margin: 2rem;
    padding: 1rem;
}

input {
    width: 1.1em;
    height: 1.1em;
}

:root:has(#dt-color2:checked) {
    --color-background: var(--color-light-yellow);
}

:root:has(#dt-color2:checked) main>:nth-child(even of .main-card) {
    background-color: var(--color-light-green);
    /* border-inline: 200px solid var(--color-light-green); */
    /* border */
    /* padding: 10px; */
}



:root:has(#dt-color3:checked) {
    --color-background: var(--color-pale-yellow);
}

:root:has(#dt-color3:checked) main>:nth-child(even of .main-card) {
    background-color: var(--color-pale-green);
    /* border-inline: 200px solid var(--color-light-green); */
    /* border */
    /* padding: 10px; */
}


/* text tests */
:root:has(#dt-text2:checked) {
    --text-color: var(--color-dark-blue);
}

:root:has(#dt-text3:checked) {
    --text-color: var(--color-green);
}

:root:has(#dt-text4:checked) {
    --text-color: #555;
}

:root:has(#dt-color2:checked, #dt-color3:checked):has(#dt-text3:checked) #low-contrast {
    /* visibility: visible; */
    display: block;
}

:where(#low-contrast) {
    /* visibility: hidden; */
    display: none;
}



/* button tests */
:root:has(#dt-bouton-2:checked) {
    --color-button: var(--color-green);
}


/* logo tests */
:root:has(#dt-logo-2:checked) .header__logo {
    content: url(./gaia-menu.svg)
}

:root:has(#dt-logo-3:checked) .header__logo {
    display: none;
}

:root:has(#dt-logo-3:checked) .textual-logo {
    /* override inline style */
    display: inline !important;
}


/* hero bg tests */
:root:has(#dt-hero-fond-2:checked) .hero {
    background-image: url('jonathan-hanna-hvSBya7hX2Q-unsplash-medium.jpg');
}

:root:has(#dt-hero-fond-3:checked) .hero {
    background-image: url('markus-spiske-bk11wZwb9F4-unsplash-medium.jpg');
}


:root:has(#dt-hero-fond-4:checked) .hero {
    background-image: url('markus-winkler-HeqXGxnsnX4-unsplash-medium.jpg');
}

:root:has(#dt-hero-fond-5:checked) .hero {
    background-image: url('heroDefault_in_the_foreground_vegetables_growing_in_a_vegetable_pa_2.jpg');
}

:root:has(#dt-hero-fond-6:checked) .hero {
    background-image: url('mosaic20230928_155621.jpg');

}


/* hero img tests */
/* default */
.hero__side {
    display: none;
}


:root:has(#dt-hero-images-2:checked) .hero__content {
    position: relative;
    /* to be above hero__side. (hero__side must be positioned) */
    z-index: 1;
}

:root:has(#dt-hero-images-2:checked) .hero__side {
    display: block;
    position: absolute;
    top: calc(var(--menu-height) + 1rem);
    right: 0px;
}

:root:has(#dt-hero-images-2:checked) .hero__side-image {
    height: 21vh;
    max-width: 30vw;
    aspect-ratio: 1;
    object-fit: cover;

    margin-bottom: 2rem;

    filter: blur(.5px);
}

:root:has(#dt-hero-images-2:checked) .hero__side-image:nth-child(2) {
    margin-left: 1rem;
}

:root:has(#dt-hero-images-2:checked) .hero__side-image:nth-child(3) {
    margin-left: 2rem;
}




:root:has(#dt-hero-images-3:checked) .hero__side {
    display: block;
    /* top: calc(var(--menu-height) + 1rem); */
    /* right: 0px; */
    position: absolute;
    /* top NOT set. is positioned vertically where it would be without positioning*/
    /* top:; */
    left: 0px;
    /* hack. Would be better to put the images in their own <section> */
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

:root:has(#dt-hero-images-3:checked) .hero {
    margin-bottom: max(6rem);
    /* margin-bottom: calc(-30rem + (20vh *2)); */
}

:root:has(#dt-hero-images-3:checked) .hero__side-image {
    width: 25%;
    max-height: 10rem;
    /* aspect-ratio: 1; */
    object-fit: cover;
    /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
    /* clip-path: polygon(25% 0, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%); */
    border: 10px solid var(--color-background);
    /* border-radius: 5px; */
}

@media (max-width: 767px) {
    :root:has(#dt-hero-images-3:checked) .hero__side .hero__side-image {
        width: 33%;
    }

    :root:has(#dt-hero-images-3:checked) .hero__side .hero__side-image:nth-child(2) {
        display: none;
    }
}




/* font tests */
:root:has(#dt-font-2:checked) {
    font-family: "Luciole", sans-serif;
    font-weight: 400;
}

:root:has(#dt-font-3:checked) {
    font-family: "FuturaRennerLight", sans-serif;
    font-size: 1.05rem;
}

:root:has(#dt-font-4:checked) {
    font-family: "FuturaRennerRegular", sans-serif;
    /* font-size: 1.05rem; */
}


/* fleurs tests */
:root:has(#dt-fleurs-2:checked) .main-card:nth-child(4n) {
    background-image: url("gaia-illus3-short.png");
    /* background-position: bottom right; */
    background-repeat: no-repeat;
    background-size: 30%;
}

:root:has(#dt-fleurs-2:checked) .main-card:nth-child(4n+1) {
    background-image: url("gaia-illus1-short.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 30%;
}

:root:has(#dt-fleurs-2:checked) .main-card:nth-child(4n+2) {
    background-image: url("gaia-illus2-short.png");
    background-repeat: no-repeat;
    background-size: 30%;
}

:root:has(#dt-fleurs-2:checked) .main-card:nth-child(4n+3) {
    background-image: url("gaia-illus3-center-short.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 25%;
}




h1 {
    font-size: var(--fs-xxl);
}

h2 {
    font-size: var(--fs-xl);
}

h3 {
    font-size: var(--fs-bigger)
}


a {
    transition: color 0.3s ease;
    color: var(--text-color);
}

a:hover,
a:active {
    color: var(--color-link-highlight);
}


.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>*:not(.full-width) {
    /* use padding and not margin so that background-color extends to the
    full width */
    padding-inline: max(1.1rem, 17vw - 6rem);
}

.no-overflow {
    overflow: hidden;
}


.button {
    display: inline-block;

    font-weight: bold;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: 100vw;

    /* line around the button when hover/focus */
    border: .2rem solid var(--color-button);
    background-color: var(--color-button);
    color: var(--color-button-background);

    text-decoration: none;
    text-align: center;

    transition: color 0.3s ease;

    min-width: 6em;
}

.button--important {
    background-color: var(--color-button-don);
    border-color: var(--color-button-don);
    color: var(--color-button-background);
}

.button:hover,
.button:focus {
    background-color: transparent;
    color: var(--color-button);
}

.button--important:hover,
.button--important:focus {
    color: var(--color-button-don);
}




/* prevent top of content being hidden when clicking an internal link
(for menu with position fixed) */
html {
    scroll-padding-top: var(--menu-height);
}

main {
    padding-top: var(--menu-height);
}

.header {
    height: var(--menu-height);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-block: .25rem;
    padding-inline: .25rem;
    position: fixed;
    background-color: var(--color-background);
    /* Avoid being under the backdrop-filter of the hero/title section*/
    z-index: 2;
}


.header__logo {
    height: 2.75rem;
    /* B&W: */
    /* filter: grayscale(100%) brightness(0%); */
}

/* See also menu-mobile.css for elements regarding the website's menu */
.header__links {
    list-style-type: none;
    font-weight: bold;
    font-size: calc(var(--fs-small) * .55 + .66vw);

    display: flex;
    align-items: center;
    gap: max(5px, 2vw - 1.9px);
    padding-inline: 1rem;
}

@media (max-width: 767px) {
    .header__links {
        font-size: calc(var(--fs-normal) * 1.1);
    }

    .header__link {
        padding-block: .5em;
    }

    .header__button-area {
        padding-right: .5rem;
    }
}

.header__link {
    text-align: center;
}

.header__link>a {
    text-decoration: none;
    text-transform: uppercase;
}

.header__button-area {
    font-size: var(--fs-small);
}

.header__button-area .button {
    margin-top: 0;
}



/* space between header and first content
not for hero section otherwise ugly blank space between header and hero */
main>:first-child:not(.hero) {
    margin-top: 3rem;
}

main>section {
    padding-bottom: 5rem;
}



.hero {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('jonathan-hanna-hvSBya7hX2Q-unsplash-medium.jpg'); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('markus-spiske-bk11wZwb9F4-unsplash-medium.jpg'); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('markus-winkler-HeqXGxnsnX4-unsplash-medium.jpg'); */
    /* background-image: linear-gradient(to bottom, rgba(18, 42, 66, .85), rgba(18, 42, 66, .85)), url('markus-spiske-vCCeCZGcfSY-unsplash-medium.jpg'); */
    /* background-image: url('markus-spiske-vCCeCZGcfSY-unsplash-medium.jpg'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url('markus-spiske-vCCeCZGcfSY-unsplash-medium.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* padding-left: clamp(1rem, 20vw, 1rem); */
    padding-left: clamp(1rem, 10000px, 10vw);
    min-height: var(--hero-height);
    /* can be replaced by a linear-gradient() in the background-image */
    /* backdrop-filter: blur(.5px) brightness(75%); */
}

.hero__content h1 {
    font-size: calc(var(--fs-xxl) * 2);
    line-height: 1.1;

    margin-top: auto;
    padding-top: 3rem;
}

.hero__content h2 {
    font-size: var(--fs-bigger)
}

.hero__content {
    color: var(--hero-text-color);
    /* text-shadow: var(--text-shadow-black); */
}

.hero__content span {
    font-size: var(--fs-normal);
    font-style: italic;
    margin-block: auto;
    text-align: center;
}

@media (max-width: 767px) {
    /* .hero__content {
        padding-inline: 1.5rem;
    } */

    .hero__content span {
        align-self: center;
    }
}


html {
    /* was needed for a hero section test : 
    images with clipping to the right of the viewport
     */
    overflow-x: hidden;
}



.derniere-actualite {
    margin-block: 2rem;
}

.derniere-actualite .date {
    margin-block: .25rem;
}

.derniere-actualite .attachment-post-thumbnail {
    width: 100%;
    aspect-ratio: 1;
    margin-block: .25rem;
    object-fit: cover;
}

.actualite .plus-actualite {
    display: inline-block;
}

@media not (max-width: 767px) {
    .derniere-actualite {
        /* clearfix (creates a BFC) */
        display: flow-root;
    }

    .derniere-actualite .attachment-post-thumbnail {
        max-width: 20rem;
        float: left;
        margin-right: 3rem;
        margin-block: 0;
    }
}


.main-card__intro {
    font-size: var(--fs-big);
    font-weight: bold;
    text-align: center;
}

.main-card__content {
    padding-block: 2rem;
}

.main-card {
    padding-top: 2rem;
}

.main-card__image {
    width: 100%;
}

.main-card__content-text>*+p {
    margin-top: 1em;
}

.main-card__content-text li {
    margin-block: .75em;
}


@media not (max-width: 767px) {

    .main-card,
    .main-card__content {
        /* clearfix (creates a BFC) */
        display: flow-root;
    }

    .main-card__image {
        width: unset;
        float: right;
        margin: 1em;
        margin-top: 0;
        width: 300px;
    }

    /* must be below other main-card__content declaration otherwise will
    will not be applied due to being lower in the cascade */
    .main-card__content--reverse {
        /* flex-direction: row; */
        float: left;
    }

    .main-card__content--rows-3 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }

    .main-card__content--rows-3>* {
        /* add a min-width to element to prevent issues */
        flex-basis: 30%;
    }
}

@media(max-width: 767px) {
    .main-card__content--rows-3>* {
        /* to replace the gap that only exist in desktop mode (see above) */
        margin: 1rem;
    }
}



.evenements-list {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(min(100%, 8em), 1fr)); */
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    padding-block: 2em;
}

@media not (max-width: 767px) {
    .evenements-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.evenement__image {
    min-width: 100%;
}

.evenement__titre,
.evenement__date {
    text-align: center;
}

.evenement {
    position: relative;
    font-size: var(--fs-small);
}

.evenement__description {
    max-height: 7em;
    overflow: hidden;
    text-overflow: ellipsis;

    text-shadow: var(--text-shadow-white);

    transition: top 1s;
    top: 0%;
    left: 0;
    right: 0;
    /* bottom: max(max-content, calc(var(--description-size) * -1)); */
    position: relative;
}

.evenement:hover .evenement__description {
    top: -50%;
}




/* source
https://codepen.io/alvaromontoro/pen/yLZVJRR?editors=1100
https://www.youtube.com/watch?v=A5GXdjEOvos */
.diamond-grid {
    --size: 100px;
    display: grid;
    grid-template-columns: repeat(6, var(--size));
    grid-auto-rows: var(--size);
    margin-bottom: calc(var(--size) + 3rem);
    place-items: start center;
    gap: 5px;
}

.diamond-grid:has(:hover) .diamond-card:not(:hover),
.diamond-grid:has(:focus) .diamond-card:not(:focus) {
    filter: brightness(0.8) contrast(0.8);
}

.diamond-grid .diamond-card {
    object-fit: cover;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
    /* 
    alternative that gives each diamond the same size in mobile and desktop (but slower/blurrier)
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); 
    clip-path: rect(15% 15% 85% 85% round 5%); 
    transform: rotate(45deg); 
    +
        .diamond-grid --size: 20vw;
        .diamond-card>img transform: rotate(-45deg);
         */
    transition: clip-path 0.75s, filter 0.9s;
    grid-column: auto / span 2;
    border-radius: 5px;
}

.diamond-card>img {
    /* to make aspect-ratio work */
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.diamond-grid .diamond-card:nth-child(5n - 1) {
    grid-column: 2 / span 2;
}


.chiffres-cles__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: .5rem;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 50%)); */
}

.chiffre-cle__chiffre {
    font-weight: 500;
    font-size: calc(var(--fs-bigger) * 1.5);
    margin-right: .2em;
}

.chiffre-cle__description {
    font-size: var(--fs-big);
}

.chiffre-cle {
    display: inline;
}




.testimony-card {
    --border-size: 2px;
    border: var(--border-size) solid;
    padding: .25em;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.testimony-card:before {
    content: "⠦";
    position: absolute;
    top: calc(100% - 1.2em);
    left: calc(50% - .5em);
}

.testimony-card__headshot {
    border-radius: 10000px;
    width: 30%;
    /* margin-inline: auto; */
    margin-top: 2em;
}

.testimony-card__name {
    font-weight: bold;
    ;
}

.testimony-card__role {
    font-size: var(--fs-small);
}

/* <span class="testimony-card__quote-symbol">❝</span> */
/* .testimony-card__quote-symbol {
    font-size: 5em;
    float: left;
    align-self: start;

    line-height: 0.25;
    margin-top: 2.5rem;
    margin-left: 1rem;
} */

.testimony-card__testimony:before {
    content: '❝';
    font-size: 5em;
    float: left;
    align-self: start;

    /* values determined by fiddling until it looked good*/
    line-height: 0.2;
    /* margin-top: 2.5rem; */
    margin-left: 1rem;
}

.testimony-card__testimony {
    color: var(--text-color-lighter);
    font-size: var(--fs-small);
    text-align: center;
    margin-bottom: 1em;
    margin-inline: 1em;
    margin-top: 4em;
}






.partner {
    border: 2px solid;
    padding: .25em;

    display: flex;
    flex-direction: column;
    align-items: center;

}

/* margin: 1em; */


.partner__logo {
    border-radius: 10000px;
    width: 30%;
    /* margin-inline: auto; */
    margin-top: 2em;
}

.partner__name {
    font-weight: bold;
    ;
}

.partner__testimony:before {
    content: '❝';
    font-size: 5em;
    float: left;
    align-self: start;

    /* values determined by fiddling until it looked good*/
    line-height: 0.2;
    /* margin-top: 2.5rem; */
    margin-left: 1rem;
}

.partner__testimony {
    color: var(--text-color-lighter);
    font-size: var(--fs-small);
    text-align: center;
    margin-bottom: 1em;
    margin-inline: 1em;
    margin-top: 4em;
}



/* don */
/*  hello asso iframe is by default 750px tall with vertical scrollbar :(
I attempted to have no scrollbar
(similar to  https://www.lesagribains.org/faire-un-don/ )

set scrolling="no" on <iframe>

main problems : 
- not possible to know the height of the page in the iframe
(not possible with js : cross-origin restriction)
- if arbitrary size risk of clipping the bottom of the content

biggest height of the iframe content: 
2644px (firefox mobile 375px viewport)
2696px (chrome mobile 375 px viewport)
helloasso layout breakpoint is at 900px

observed (parent) window width at which the helloasso content shift to one column:
1072px

solution : scroll + hopefully tall enough in all situations
 */
#haWidget {
    height: 2650px;
}

@media not (max-width: 1100px) {
    #haWidget {
        height: 1600px;
    }
}






footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.textual-logo {
    font-weight: 500;
    font-size: var(--fs-bigger);
    text-transform: uppercase;
}

.footer__links {
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-inline: 0;
}

.footer__link {
    text-align: center;
}

.footer__link>a {
    text-decoration: none;
}

.separation-line {
    width: 50vw;
    border-bottom: 1px solid black;
}

.social-media {
    display: flex;
    gap: 1.5rem;
}

.social-media img {
    width: 2rem;
    border-radius: 10000px;
    filter: grayscale(100%) contrast(110%) brightness(110%);
}